<div class="card mb-15 mb-lg-30 rounded-lg" [class.selected]="talent === selectedTalent">
    <div class="card-body pb-16 row">
        <div class="pr-0 ml-20">
            <img width="80px" src="{{talent.image}}" alt="...">
        </div>
        <div class="col align-items-start d-flex flex-column">
            <span class="badge text-white mt-4 mb-8 badge-{{talent.plan | plan2color}}">{{talent.plan}}</span>
            <strong class="card-title mb-0">{{talent.name}}</strong>
            <strong class="card-text text-muted">{{talent.title}}</strong>
        </div>
        <div class="col d-flex flex-column justify-content-between align-items-end">
            <span class="card-text font-size-xs d-flex">
                <span class="text-muted d-none d-lg-block">Last Project: </span>
                <span>{{talent.lastProject}}</span>
            </span>
            <div class="d-block d-lg-none">
                <span class="mr-3"
                    *ngFor="let client of talent.experience | slice:0:3; first as isFirst">
                    <img width="24px" src="assets/images/{{client | brand2logo }}.png" />
                </span>
            </div>
            <a class="mb-9 mr-5 d-none d-lg-block" href="{{talent.about.portfolio}}">View Website</a>
        </div>
    </div>
    <div class="card-footer text-muted align-items-center font-size-sm p-2 pl-24 d-none d-lg-block">
        <span>Main Clients:</span>
        <span class="badge badge-light ml-11" *ngFor="let client of talent.experience | slice:0:3; first as isFirst">
            <span *ngIf="!isFirst" class="mr-16">|</span>
            <img width="30px" src="assets/images/{{client | brand2logo }}.png" />
            {{client}}
        </span>
    </div>
</div>