<div class="row no-gutters">
    <div class="col-lg-7">
        <app-talent-card *ngFor="let talent of talents" (click)="onSelect(talent)" [talent]="talent"></app-talent-card>
    </div>
    <div class="col pl-30 d-none d-lg-block" *ngIf="talentService.selectedTalent">
        <app-talent-details [talent]="talentService.selectedTalent"></app-talent-details>
    </div>
</div>

<div class="modal modal-lg d-block d-lg-none" tabindex="-1" *ngIf="talentService.selectedTalent">
    <div class="modal-dialog h-100 m-0 mw-100">
        <div class="modal-content border-0 h-100">
            <div>
                <button type="button" class="btn shadow-none" (click)="talentService.selectedTalent=null">
                    <svg-icon src="assets/icons/dash-left.svg" [svgStyle]="{ 'width.px':7 }"></svg-icon>
                    <span class="ml-10">back</span>
                </button>
            </div>
            <app-talent-details [talent]="talentService.selectedTalent"></app-talent-details>
        </div>
    </div>
</div>