<!-- <div class="mb-4">
    <input [resultTemplate]="rt" type="text" class="form-control" [ngbTypeahead]="search" />
    <ng-template #rt let-r="result" let-t="term">
        <img style="width: 40px; margin-right: 20px;" src="{{r.image}}" class="card-img" alt="...">
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </ng-template>
</div> -->

<div class="row no-gutters">
    <div class="col-lg-7">
        <app-talent-card *ngFor="let talent of talents" (click)="onSelect(talent)" [talent]="talent"
            [selectedTalent]="selectedTalent"></app-talent-card>
    </div>
    <div class="col pl-30 d-none d-lg-block" *ngIf="selectedTalent">
        <app-talent-details [talent]="selectedTalent"></app-talent-details>
    </div>
</div>

<div class="modal modal-lg d-block d-lg-none" tabindex="-1" *ngIf="selectedTalent">
    <div class="modal-dialog h-100 m-0 mw-100">
        <div class="modal-content border-0 h-100">
            <div>
                <button type="button" class="btn shadow-none" (click)="selectedTalent=null">
                    <bi name="chevron-left"></bi>
                    back
                </button>
            </div>
            <app-talent-details [talent]="selectedTalent"></app-talent-details>
        </div>
    </div>
</div>



