<div class="row no-gutters" *ngIf="!talents">
    <div class="col-lg-7">
        <app-talent-card *ngFor="let talent of talents" (click)="onSelect(talent)" [talent]="talent"></app-talent-card>
    </div>
    <div class="col pl-30 d-none d-lg-block" *ngIf="talentService.selectedTalent">
        <app-talent-details [talent]="talentService.selectedTalent"></app-talent-details>
    </div>
</div>

<div class="row no-gutters" *ngIf="!talents">
    <div class="col-12 text-center mt-20 mt-lg-40">
        <svg-icon src="assets/images/search-graphic.svg" svgClass="w-100"></svg-icon>
        <h4 class="mb-15 mt-5">Looking for something?</h4>
        <p class="m-auto">You can search by name or skill in the search bar above. If you’re looking for filters like
            location, talent
            level, or others, that can be found select the top right button labeled ‘filters’</p>
    </div>
</div>

<div class="modal modal-lg d-block d-lg-none" tabindex="-1" *ngIf="talentService.selectedTalent">
    <div class="modal-dialog h-100 m-0 mw-100">
        <div class="modal-content border-0 h-100">
            <div>
                <button type="button" class="btn shadow-none" (click)="talentService.selectedTalent=null">
                    <svg-icon src="assets/icons/dash-left.svg" [svgStyle]="{ 'width.px':7 }"></svg-icon>
                    <span class="ml-10">back</span>
                </button>
            </div>
            <app-talent-details [talent]="talentService.selectedTalent"></app-talent-details>
        </div>
    </div>
</div>