<nav class="navbar bg-white mb-30 shadow-smt py-25">
  <div class="container px-30">
    <div class="d-flex form-inline justify-content-between w-100">
      <div class="icon-input align-items-center d-flex col-6 p-0">
        <bi name="Search"></bi>
        <input class="form-control py-22 pr-25 pl-60 w-100 mr-50" type="search" placeholder="Search"
          aria-label="Search">
      </div>
      <button class="btn btn-outline-secondary my-2 text-dark" (click)="toggleSidebar()">
        <bi name="Toggles"></bi>
        Filters
      </button>
    </div>
  </div>
</nav>

