<div class="modal-header justify-content-center border-0">
    <h5 class="modal-title" id="modal-basic-title">Adding Producer Note</h5>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
                <textarea class="form-control bg-white font-size-sm p-15" placeholder="Note" required rows="6"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer border-0">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="activeModal.close('save click')">Submit Note</button>
</div>