<div class="mb-4">
    <input [resultTemplate]="rt" type="text" class="form-control" [ngbTypeahead]="search" />
    <ng-template #rt let-r="result" let-t="term">
        <img style="width: 40px; margin-right: 20px;" src="{{r.image}}" class="card-img" alt="...">
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </ng-template>
</div>


<div class="container">
    <div class="row">

        <div class="col">
            <div class="card mb-30 rounded-lg" *ngFor="let talent of talents"
                [class.selected]="talent === selectedTalent" (click)="onSelect(talent)">
                <div class="card-body pb-16 row">
                    <div class="col-2 pr-0 ml-5">
                        <img src="{{talent.image}}" class="card-img" alt="...">
                    </div>
                    <div class="col align-items-start d-flex flex-column">
                        <span
                            class="badge text-white mt-4 mb-8 badge-{{talent.plan | plan2color}}">{{talent.plan}}</span>
                        <strong class="card-title mb-0">{{talent.name}}</strong>
                        <strong class="card-text text-muted">{{talent.title}}</strong>
                    </div>
                    <div class="col d-flex flex-column justify-content-between align-items-end">
                        <span class="card-text font-size-xs">Last Project: <span
                                class="text-muted">{{talent.lastProject}}</span></span>
                        <a href="{{talent.about.portfolio}}">View Website</a>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex align-items-center font-size-sm p-2 pl-24">
                    <span>Main Clients:</span>
                    <span class="badge badge-light ml-11"
                        *ngFor="let client of talent.experience | slice:0:3; first as isFirst">
                        <span *ngIf="!isFirst" class="mr-16">|</span>
                        <img width="30px" src="assets/images/{{client | brand2logo }}.png" />
                        {{client}}
                    </span>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" *ngIf="selectedTalent">
                <div class="card-body row no-gutters">
                    <div class="col-md-3">
                        <img src="{{selectedTalent.image}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                        <span
                            class="badge text-white badge-{{selectedTalent.plan | plan2color}}">{{selectedTalent.plan}}</span>
                        <h5 class="card-title">{{selectedTalent.name}}</h5>
                        <p class="card-text">{{selectedTalent.title}}</p>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success">Send Proposal</button>
                    </div>
                </div>
                <nav ngbNav #nav="ngbNav" class="nav-tabs">
                    <ng-container ngbNavItem>
                        <a ngbNavLink>About</a>
                        <ng-template ngbNavContent>
                            <dl class="row">
                                <dt class="col-sm-3">Portfolio</dt>
                                <dt class="col-sm-9"><a
                                        href="{{selectedTalent.about.portfolio}}">{{selectedTalent.about.portfolio}}</a>
                                </dt>

                                <dt class="col-sm-3">Email</dt>
                                <dt class="col-sm-9"><a
                                        href="mailto:{{selectedTalent.about.email}}">{{selectedTalent.about.email}}</a>
                                </dt>

                                <dt class="col-sm-3">Phone</dt>
                                <dt class="col-sm-9">{{selectedTalent.about.phone}}</dt>

                                <dt class="col-sm-3">Location</dt>
                                <dt class="col-sm-9">{{selectedTalent.about.location}}</dt>

                            </dl>
                            <hr />
                            <div>
                                Skills: <span class="badge badge-light"
                                    *ngFor="let skill of selectedTalent.skills">{{skill}} | </span>
                            </div>
                            <hr />
                            <div>
                                Experience: <span class="badge badge-light"
                                    *ngFor="let client of selectedTalent.experience">
                                    <img width="30px" src="assets/images/{{client | brand2logo }}.png" />
                                    {{client}} | </span>
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-container ngbNavItem>
                        <a ngbNavLink>Producer Notes</a>
                        <ng-template ngbNavContent>
                            <div *ngFor="let note of selectedTalent.producerNotes">
                                {{note.name}}<br>
                                {{note.date}}<br>
                                {{note.text}}<br><br>
                            </div>
                            <button type="button" class="btn btn-info">Add Note</button>

                        </ng-template>
                    </ng-container>
                </nav>

                <div [ngbNavOutlet]="nav" class="mt-2 p-4"></div>

            </div>
        </div>

    </div>
</div>