<div class="sidebar px-30 py-25 bg-white">
    <div class="d-flex justify-content-between">
        <h5>Filters</h5>
        <a href="#" class="text-danger">Clear Filters</a>

    </div>
    <div class="mt-48 mb-40">
        <div class="form-group mb-35">
            <label class="font-size-sm text-black-50" for="Location">Location</label>
            <select class="custom-select" id="Location">
                <option>None</option>
                <option>Florida</option>
                <option>New Mexico</option>
                <option>Pennsylvania</option>
                <option>Wisconsin</option>
            </select>
        </div>
        <div class="form-group">
            <label class="font-size-sm text-black-50" for="Location">Talent Level</label>
            <div class="custom-control custom-checkbox mb-15 ribbon ribbon-info">
                <input type="checkbox" class="custom-control-input" id="Premium">
                <label class="custom-control-label font-size-sm pt-2" for="Premium">Premium Talent Level</label>
            </div>
            <div class="custom-control custom-checkbox mb-15 ribbon ribbon-warning">
                <input type="checkbox" class="custom-control-input" id="Pro">
                <label class="custom-control-label font-size-sm pt-2" for="Pro">Pro Talent Level</label>
            </div>
            <div class="custom-control custom-checkbox mb-37 ribbon ribbon-danger">
                <input type="checkbox" class="custom-control-input" id="Basic">
                <label class="custom-control-label font-size-sm pt-2" for="Basic">Basic Talent Level</label>
            </div>
        </div>
        <div class="form-group">
            <label class="font-size-sm text-black-50" for="Location">Experience With</label>
            <select class="custom-select mb-15" id="Location">
                <option>None</option>
                <option>Wallgreens</option>
                <option>New Mexico</option>
                <option>Pennsylvania</option>
                <option>Wisconsin</option>
            </select>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="WorkedWith">
                <label class="custom-control-label font-size-sm pt-2" for="WorkedWith">Only Candidates You’ve Worked With</label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary mr-13 mr-lg-25 flex-grow-1 flex-lg-grow-0 justify-content-center" closeSidebar>Cancel</button>
        <button type="button" class="btn btn-success flex-grow-1 flex-lg-grow-0 justify-content-center" closeSidebar>Apply</button>
    </div>
</div>